{% extends 'IllnessWeb/base.html' %}

{% block title %}Welcome{% endblock %}

{% block contend %}
    <h1 class="text-7xl mt-10">Illness Predictor</h1>
    <div class="flex items-center justify-center">
        <p class="whitespace-normal w-1/3 mt-40">ijdfij wawoisdoase as saji doijas dijsaoia ijodas oiasdjasj soidoisja oasj s jdoasjd saaoj dasoijdoiaisj saaj daso oasjodasojd sdoisajodi asjdasoasojdas o oasjoas</p>
    </div>
    <button class="mt-32 bg-teal-700 text-white hover:bg-teal-900 font-bold py-7 px-8 rounded-full text-3xl w-3/6" >
        Go to the Search Engine
    </button>    
{% endblock %}