{% extends 'IllnessWeb/base.html' %}

{% block title %}Search{% endblock %}

{% block contend %}
    <h1 class="text-7xl mt-10">Illness Predictor</h1>
    <div class="flex justify-center">
        <div class="relative w-1/2 mt-32">
            <form method="get" action="{% url 'IllnessWeb:search' %}">
                <input
                    name = 'query'
                    value="{{ query }}"
                    type="text"
                    placeholder="Search"
                    class="w-full py-4 px-4 rounded-full border border-gray-300 text-lg focus:outline-none "
                />
                <button
                    class="absolute right-0 top-0 bottom-0 py-3 px-4 bg-blue-500 text-white rounded-r-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                >
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="mt-6 px-6 py-12 bg-gray-500 h-50% rounded-xl overflow-auto">
        <h2 class="mb-12 text-2xl text-center text-6xl bg-gray-100 p-4 rounded-full">Illnesses</h2>

        <div class="grid grid-cols-3 gap-3 bg-gray-100 rounded-xl">
            {% for item in items %}
                <div class="p-6">
                    <div class="p-6 bg-gray-300 rounded-t-xl">
                        <h2 class="text-3xl">{{ item.name }}</h2>
                    </div>
                    <div>
                        <img src="{{ item.img_url }}" >
                    </div>
                    <div class="p-6 bg-gray-300">
                        <h2 class="text-2xl bg-gray-500 rounded-full m-5 p-4">Description</h2>
                        <h2 class="text-xl">{{ item.description }}</h2>
                    </div>
                    <div class="p-6 bg-gray-300">
                        <h2 class="text-2xl bg-gray-500 rounded-full mb-5 p-4">Treatment</h2>
                        <h2 class="text-xl">{{ item.treatment }}</h2>
                    </div>
                    <div class="p-6 bg-gray-300 rounded-b-xl">
                        <h2 class="text-2xl bg-gray-500 rounded-full mb-5 p-4">Specialist</h2>
                        <h2 class="text-xl">{{ item.specialist }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}